.servicesListContainer {
    margin: 0px 60px 200px 80px;
    overflow: scroll;
}

.servicesIntro {
    font-family: "Style Script", cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceHeading {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    font-family: "Dawning of a New Day", cursive;
    font-size: 24px;

}

.serviceHeading h3 {
    margin: 0
}

.serviceCard img {
    width: auto;
    height: 5vh;
}

.serviceDetails p {
    font-family: "Red Hat Display", sans-serif;
    margin: 10px 0px 40px 42px;
    line-height: 1.5;
}

.serviceDetails p.indented {
    text-indent: 25px;
    margin-top: -25px;

}

@media only screen and (max-width: 767px) {
    p.servicesIntro {
        margin-top: -10px;
    }
}
