.footer {
    background-color: white;
    display: none;
    /* Initially hidden */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
}

.footer.visible {
    display: block;
    /* Shows only when the user scrolls to the bottom */
}

.footerCenter {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px double rgb(188, 188, 188);
    color: black;
    padding: 8px;
    /* text-align: center; */
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    /* gap: 50px; */
    z-index: 10;
    background-color: white;
}

.footerContact {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 16px;
}

.footerContact p.footerEmail a,
.footerContact p.footerPhone a {
    text-decoration: none;
    color: black;
    margin-left: 3px;
}

.footerContact p.footerEmail a:hover,
.footerContact p.footerPhone a:hover {
    cursor: pointer;
    color: rgb(213, 19, 124);
}

.footerContact p.footerPhone {
    margin-top: 0;
}

.footerContact p.footerEmail {
    margin-bottom: 5px;
}

.socialLinks a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.socialLinks a:hover {
    cursor: pointer;
    color: rgb(213, 19, 124);
    transform: scale(1.1);
}

.fa-brands.fa-facebook-f:hover,
.fa-brands.fa-instagram:hover {
    cursor: pointer;
    color: rgb(213, 19, 124);
    transform: scale(1.1);
}

.fa-brands.fa-facebook-f,
.fa-brands.fa-instagram {
    font-size: 24px;
}

.connectPara:hover {
    cursor: default
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.connectPara {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

}

p.connectPara {
    font-family: "Merriweather", serif;
    /* font-weight: bold; */
    font-size: 18px;
    margin: 8px 2px
}


.connectWithUs {
    position: absolute;
    right: 20px;
    /* margin: 0 15px; */
    /* padding: 1px 6px; */
}

.logo img {
    width: auto;
    height: 10vh;
    margin-right: 75px;
}

.logo img:hover {
    cursor: pointer;
}

.weddingBadge img {
    width: auto;
    height: 10vh;
    margin-left: 75px;
}

.footerConnect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.disclaimer p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

@media only screen and (max-width: 767px) {
    .footerContainer {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .weddingBadge img {
        height: 8vh;
        margin-left: 20px;
    }

    .logo img {
        height: 8vh;
        margin-right: 20px;
    }
}
